<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <appSettings>

        <add key="MasterUrl" value="http://reach.red-rover.net/" />
        <add key="SiteTitle" value="Reach" />

        <add key="MandrillUserName" value="SMTP_Injection" />
        <add key="MandrillAPIKey" value="b6695ea1d52ded1242f777e0bff15322974bcdd6" />
        <add key="MandrillSMTP" value="smtp.sparkpostmail.com" />
        <add key="MandrillPort" value="587" />

        <add key="OrganizationName" value="Reach" />
        <add key="MailingAddress" value="275 South 21st Street" />
        <add key="MailingCity" value="Newark" />
        <add key="MailingState" value="OH" />
        <add key="MailingZip" value="43055" />

        <add key="SystemNotificationFromAddress" value="no-reply@yodel.today" />
        <add key="ServantScoutNotificationAddress" value="rpalmer@yodel.today" />
        <add key="RoomResourceNotificationAddress" value="rpalmer@yodel.today" />
        <add key="AdminNotificationAddress" value="rpalmer@yodel.today" />
        <add key="TimeOffNotificationAddress" value="rpalmer@yodel.today" />
        <add key="SupportTicketAddress" value="rpalmer@yodel.today" />

        <add key="aspnet:AllowAnonymousImpersonation" value="true" />

    </appSettings>

    <connectionStrings>

      <add connectionString="User Id=reachdev;password=in4m@triX;server=reachdev.c8h9l1qkgq0i.us-east-2.rds.amazonaws.com;database=reachdev" providerName="MySql.Data.MySqlClient" name="ReachMysql"/>
      
    </connectionStrings>

    <system.web>
      
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
      
      <!--<customErrors defaultRedirect="http://reach.red-rover.net/Zonk.aspx" mode="RemoteOnly" />-->
      <customErrors mode="Off"/>
    
      <pages enableEventValidation="false">
        <controls>
          <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajax" />
          <add assembly="In4matrix.Web.CustomControls" namespace="In4matrix.Web.CustomControls" tagPrefix="n4m" />
          <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
        </controls>
      </pages>
      
    </system.web>
  
    <system.codedom>
      
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>
      
    </system.codedom>

</configuration>
