@import 'https://fonts.googleapis.com/css?family=Roboto';

body
{
	padding: 0px 0px 0px 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	color: #696969;
	font-size: 12px;
}

h1
{
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	padding-bottom: 10px;
	font-weight: normal;
}

h2
{
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	color: #FFFFFF;
	font-weight: normal;
	padding: 25px 0px 25px 0px;
}

h3
{
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #0f4c8b;
	padding-bottom: 10px;
	font-weight: normal;
}

h4
{
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #0f4c8b;
	font-weight: normal;
	padding: 0px 0px 0px 0px;
}

h5
{
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #e78720;
	font-weight: bold;
}

h6
{
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #595959;
	font-weight: normal;
	padding: 0px 0px 0px 0px;
}